<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>모닥불</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/host/host.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<!-- 사이드바 포함 -->
<div th:replace="~{host/fragments/sidebar :: sidebar}"></div>

<div class="main-content">
    <h1>수익</h1>
    <table border="1">
        <thead>
        <tr>
            <th>캠핑장명</th>
            <th>날짜</th>
            <th>정산금액</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="paymentSearch : ${paymentSearch}">
            <td th:text="${paymentSearch.getProductName()}"></td>
            <td th:text="${paymentSearch.getApproveDate()}"></td>
            <td th:text="${paymentSearch.getAmount()} + 원"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td><strong>총합</strong></td>
            <td></td>
            <td th:text="${paymentAmount} + 원" ></td> <!-- 총합을 출력 -->
        </tr>
        </tfoot>
    </table>
	
    <hr>
    <h1>캠핑장 목록</h1>
    <a class="add-btn" href="/campgrounds/add">캠핑장 추가하기</a>
    <table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>캠핑장 이름</th>
            <th>주소</th>
            <th>객실 관리</th>
            <th>승인 상태</th>
            <th>작업</th>
            <th>채팅 목록</th> <!-- 새로운 "채팅 목록" 열 추가 -->
        </tr>
    </thead>
    <tbody>
        <tr th:each="camp, iterStat : ${campground}" th:if="${iterStat.index < 10}">
            <td th:text="${camp.id}"></td>
            <td>
                <a th:href="@{'/campgrounds/edit/' + ${camp.id}}" th:text="${camp.campgroundName}"></a>
            </td>
            <td th:text="${camp.address}"></td>
            <td>
                <a th:href="@{'/campsite/list?campgroundId=' + ${camp.id}}" th:text="객실수정"></a>
            </td>
            <td th:text="${camp.approve == 0 ? '수정중' : (camp.approve == 1 ? '신청중' : (camp.approve == 2 ? '승인됨' : ''))}"></td>
            <td>
                <!-- approve 상태에 따라 작업 버튼 표시 -->
                <form th:action="@{/host/campground/approve/{id}/{approve}(id=${camp.id}, approve=${camp.approve == 1 ? 0 : 3})}" method="post">
                    <button type="submit" th:text="${camp.approve == 0 ? '승인신청' : '수정하기'}"></button>
                </form>
            </td>
            <!-- 채팅 목록 버튼 열 -->
            <td>
                <a th:href="@{/chat/chatList(campgroundId=${camp.id})}" class="btn btn-chat-list" style="margin-left: 10px;">채팅 목록</a>
            </td>
        </tr>
    </tbody>
</table>

</div>
</body>
</html>
