<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>모닥불</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/host/host.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<!-- 사이드바 포함 -->
<div th:replace="host/fragments/sidebar :: sidebar"></div>

<div class="main-content">
    <h1>수익</h1>
    <table border="1">
        <thead>
        <tr>
            <th>캠핑장명</th>
            <th>날짜</th>
            <th>정산금액</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="paymentSearch : ${paymentSearch}">
            <td th:text="${paymentSearch.getProductName()}"></td>
            <td th:text="${paymentSearch.getApproveDate()}"></td>
            <td th:text="${paymentSearch.getAmount()}"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td><strong>총합</strong></td>
            <td></td>
            <td th:text="${paymentAmount} + 원" ></td> <!-- 총합을 출력 -->
        </tr>
        </tfoot>
    </table>

    <hr>
    <h1>캠핑장 목록</h1>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>캠핑장 이름</th>
            <th>주소</th>
            <th>전화번호</th>
            <th>승인 상태</th>
            <th>작업</th>
        </tr>
        </thead>
        <tbody>
        <!-- campgroundsByHostId 리스트를 순회하며 각 캠핑장 정보를 출력 -->
        <tr th:each="camp, iterStat : ${campground}" th:if="${iterStat.index < 10}">
            <td th:text="${camp.id}"></td>
            <td th:text="${camp.campgroundName}"></td>
            <td th:text="${camp.address}"></td>
            <td th:text="${camp.phone}"></td>
            <td th:text="${camp.approve == 0 ? '수정중' : (camp.approve == 1 ? '신청중' : (camp.approve == 2 ? '승인됨' : ''))}"></td>
            <!-- approve가 0일 때 승인신청 버튼 표시 -->
            <td th:if="${camp.approve == 0}">
                <form th:action="@{/host/campground/approve/{id}/{approve}(id=${camp.id}, approve=1)}" method="post">
                    <button type="submit">승인신청</button>
                </form>
            </td>
            <!-- approve가 1일 때 수정하기 버튼 표시 -->
            <td th:if="${camp.approve == 1}">
                <form th:action="@{/host/campground/approve/{id}/{approve}(id=${camp.id}, approve=0)}" method="post">
                    <button type="submit">수정하기</button>
                </form>
            </td>
            <!-- approve가 2일 때 수정하기 버튼 표시 -->
            <td th:if="${camp.approve == 2}">
                <form th:action="@{/host/campground/approve/{id}/{approve}(id=${camp.id}, approve=3)}" method="post">
                    <button type="submit">수정하기</button>
                </form>
            </td>

        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
