<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 내역</title>
    <link rel="stylesheet" href="/css/reservations.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<div class="container">
    <!-- 사이드바 -->
    <div th:insert="~{mypage/fragments/sidebar :: sidebar}"></div>



    <!-- 메인 콘텐츠 -->
    <div class="main-content">
        <header class="header">
            <h1>예약 내역</h1>
            <a href="/camping/reserve" class="btn-new">새 예약</a>
            <span class="bookingStatus">
                예약 정보 :
                <span>완료 / 취소 </span>
            </span>
        </header>

        <!-- 예약 목록 테이블 -->
        <table class="reservations-table">
            <thead>
            <tr>
                <th>예약 번호</th>
                <th>캠핑장 이름</th>
                <th>체크인 날짜</th>
                <th>체크아웃 날짜</th>
                <th>상태</th>
                <th>취소</th>
            </tr>
            </thead>
            <tbody>
            <!-- bookings 리스트를 반복하여 출력 -->
            <tr th:each="booking : ${bookings}">
                <td th:text="'' + ${booking.id}"></td>
                <td th:text="${booking.campground.getCampgroundName()}"></td>
                <td th:text="${booking.checkInDate}"></td>
                <td th:text="${booking.checkOutDate}"></td>
                <td>
                    <span th:if="${booking.bookingStatus == 0}" class="status-complete">완료</span>
<!--                    <span th:if="${booking.bookingStatus == 1}" class="status-pending">대기 중</span>-->
                    <span th:if="${booking.bookingStatus == 1}" class="status-cancelled">취소됨</span>
                </td>
                <td>
                    <button th:if="${booking.bookingStatus != 0}" class="btn-cancel" th:onclick="'cancelBooking(' + ${booking.id} + ')'">취소</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
