<!-- templates/mypage/fragments/sidebar.html -->
<aside class="sidebar" th:fragment="sidebar">
    <div class="profile">
        <a href="/" class="profile-button">
            <img src="/images/1.png" alt="프로필 이미지">
        </a>
        <h2 th:text="${member.userName}">사용자 이름</h2>
        <h2>회원님은 GOLD 등급 입니다.</h2>
    </div>
    <nav class="menu">
        <ul>
            <li><a href="/mypage">마이 페이지</a></li>
            <li><a href="/mypage/reservations">예약 내역</a></li>
            <li><a href="/mypage/reviews">내 리뷰</a></li>
            <li><a href="/mypage/checkPasswordPage">회원 정보 수정</a></li> <!-- 비밀번호 확인 페이지로 링크 변경 -->
            <li><a href="/logout">로그아웃</a></li>
        </ul>
    </nav>
</aside>