@charset "UTF-8";

.fc{
    background-color: #fff !important;
    color: #000 !important;
}
.fc-col-header-cell-cushion {
    color: #000 !important; /* 원하는 색상으로 변경 */
}
.fc-daygrid-day-number {
    color: #000 !important; /* 원하는 색상으로 변경 */
}

/*body {*/
/*    margin: 40px 10px;*/
/*    padding: 0;*/
/*    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;*/
/*    font-size: 14px;*/
/*}*/
#calendar {
    max-width: 600px;
    margin: 20px auto;
    display: none; /* 기본적으로 숨김 설정 */
}
.selected {
    background-color: rgba(0, 255, 0, 0.3); /* 연한 초록색 */
}