<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Campground List</title>
</head>
<body>

<form action="/campgrounds/search" method="get">
    <input type="text" name="query" placeholder="Search Campgrounds">
    <button type="submit">Search</button>
</form>


<h2>Campground List</h2>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Campground Name</th>
        <th>Category</th>
        <th>Location</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="campground : ${campgrounds}">
        <td th:text="${campground.id}">1</td>
        <td th:text="${campground.campgroundName}">Camp Name</td>
<!--        <td th:text="${campground.campgroundCategory.categoryName}">Category</td>-->
        <td th:text="${campground.location}">Location</td>
        <td><a th:href="@{/campgrounds/{id}(id=${campground.id})}">Details</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
