<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Campground Detail</title>
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>
    <link rel="stylesheet" th:href="@{/css/campground/calendar.css}">
</head>
<body>
<h2>Campground Detail</h2>

 예약 폼
<form action="/booking/new" method="get" onsubmit="return validateForm();">
    <input type="hidden" id="checkInDate" name="checkInDate">
    <input type="hidden" id="checkOutDate" name="checkOutDate">
    <input type="hidden" id="campsiteId" name="campsiteId">

    <div class="date-display">
        <span>체크인 날짜: <span id="checkInDisplay">선택 안됨</span></span><br>
        <span>체크아웃 날짜: <span id="checkOutDisplay">선택 안됨</span></span>
    </div>

<!--    옵션 -->
    <h4>Campground Options</h4>

    <table>
        <thead>
        <tr>
            <th>옵션 이름</th>
            <th>존재 여부</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="option : ${campgroundSubOptions}">
            <td th:text="${option.optionName}">옵션 이름</td>
<!--            <td th:text="${link.isExist ? '존재함' : '존재하지 않음'}">존재 여부</td>-->
        </tr>
        </tbody>
    </table>
    <div id='calendar'></div>

    <!-- 캠핑장 정보 -->
    <p>
    <strong>Campground Name:</strong> 
    <span th:text="${campground.campgroundName}">Camp Name</span>
    <!-- 호스트와 채팅하기 버튼 -->
    <a th:if="${campground.hostId == memberId}" th:href="@{/chat/chatList(campgroundId=${campground.id})}" class="chat-btn" style="margin-left: 10px;">
        게스트 채팅 리스트
    </a>
    <a th:if="${campground.hostId != memberId}" th:href="@{/chat/chatroom/{campgroundId}(campgroundId=${campground.id})}" class="chat-btn" style="margin-left: 10px;">
        호스트와 채팅하기
    </a>
	</p>
    <p><strong>Address:</strong> <span th:text="${campground.address}">Address</span></p>
    <p><strong>Phone:</strong> <span th:text="${campground.phone}">123-456-7890</span></p>

    <h3>Campsite List</h3>
    <table>
        <thead>
        <tr>
            <th>캠핑장 객실</th>
            <th>설명</th>
            <th>최대 인원</th>
<!--            <th>Price</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="campsite : ${campsites}">
            <td th:text="${campsite.getId()}">campsite id</td>
            
            <td th:text="${campsite.campsiteName}">Campsite Name</td>
            <td th:text="${campsite.campsiteDescription}">Description</td>
            <td th:text="${campsite.headCount}">4</td>
            <td th:text="'총가격 : ' + ${(totalPrices[campsite.id])} + ' 원'">Total Price</td>


            <td>
                <button type="button" th:onclick="'setSelectedCampsite(' + ${campsite.id} + ');'">예약</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>

<script src="/js/calendar.js"></script>
</body>
</html>
