<header class="header-bg">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}">모닥불</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" th:href="@{/}">홈</a></li>
          <li class="nav-item"><a class="nav-link" th:href="@{/campgrounds}">예약하기</a></li>
          <li class="nav-item"><a class="nav-link" th:href="@{/freeboard/freeBoardList}">게시판</a></li>
          <li class="nav-item"><a class="nav-link" th:href="@{/}">문의하기</a></li>
            <li th:if="${member == null}"><a class="nav-link" th:href="@{/login}">로그인</a></li>
            <li th:if="${member != null}">
                <span th:text="${member.userName} + '님 반갑습니다!'"></span>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="로그아웃">
                </form>
            </li>

    	  <li class="nav-item"><a class="nav-link" th:href="@{/mypage}">마이페이지</a></li>
    	  <li class="nav-item"><a class="nav-link" th:href="@{/join}">회원가입</a></li>
          <a th:href="@{/order/kakaoForm}">결제 테스트</a>
          
        </ul>
      </div>
    </div>
  </nav>
  <h1>자연 속에서의 휴식</h1>
  <p>당신만의 완벽한 캠핑 경험을 찾아보세요</p>
  <a th:href="@{/reservation}" class="btn btn-success btn-lg">지금 예약하기</a>
</header>

