@charset "UTF-8";

/* 헤더 배경 이미지 스타일 */
.header-bg {
  background: url('/images/4.png') no-repeat center center; /* 중앙 정렬 */
  background-size: cover; /* 이미지를 헤더 영역에 맞춰서 크기 조정 */
  color: white;
  padding: 150px 0; /* 상하 패딩 조정 */
  text-align: center;
  border-radius: 0 0 20px 20px;
  min-height: 400px; /* 최소 높이 설정 */
  position: relative; /* 자식 요소의 절대 위치를 위한 기준 */
}

/* 네비게이션 바 스타일 */
.navbar {
  background-color: rgba(255, 127, 80, 0.8); /* 주황빛 배경, 약간의 투명도 추가 */
  z-index: 1000; /* 다른 요소보다 위에 표시 */
  position: absolute; /* 배경 이미지 위에 위치 */
  top: 0;
  width: 100%;
}

.navbar a {
  color: #ffffff;
}

.header-bg h1 {
  font-size: 4rem;
}

.header-bg p {
  font-size: 1.5rem;
}