body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* 제목 색상 */
}

.input-group {
    width: 278px;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555; /* 레이블 색상 */
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #ff7f50; /* 포커스 시 테두리 색상 */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff7f50; /* 주황색 */
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; /* 배경색 변화 애니메이션 */
}

button:hover {
    background-color: #ff6347; /* 버튼 호버 색상 */
}

.alert {
    color: red; /* 경고 메시지 색상 */
    margin-top: 10px;
    text-align: center;
}
/* 아이콘 추가 스타일 */
.eye-icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 35px; /* Input 위치에 맞게 조정 */
    color: #888; /* 기본 색상 */
}