<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Booking Form</title>
</head>
<body>
<h1>예약 폼</h1>
<p>캠프사이트: <span th:text="${campsite.campsiteName}">Campsite Name</span></p>
<p>체크인 날짜: <span th:text="${checkInDate}">체크인 날짜</span></p>
<p>체크아웃 날짜: <span th:text="${checkOutDate}">체크아웃 날짜</span></p>

<!-- 예약 정보 입력 폼 -->
<form action="/booking/submit" method="post">
  <input type="hidden" name="campsiteId" th:value="${campsite.id}">
  <input type="hidden" name="checkInDate" th:value="${checkInDate}">
  <input type="hidden" name="checkOutDate" th:value="${checkOutDate}">
  <input type="text" name="totalPrice" th:value="${totalPrice}">
<!-- 결제하기로 넣어야함-->
  <button type="submit">예약 확정</button>
</form>
</body>
</html>
