<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>모닥불</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="login-container">
    <h2>모닥불</h2>
    <form th:action="@{/login}" method="post">
        <div class="input-group">
            <label for="userId"></label>
            <input type="text" id="userId" name="userId" required placeholder="아이디를 입력해주세요.">
        </div>
        <div class="input-group">
            <label for="password"></label>
            <input type="password" id="password" name="password" required placeholder="비밀번호를 입력해주세요.">
        </div>
        <button type="submit" class="login-button">로그인</button>
    </form>
    <button type="button" class="join-button" th:attr="data-href=@{/join}" onclick="location.href=this.getAttribute('data-href')">회원가입</button>




    <div class="sns-login-box">
        <h3>SNS 간편 로그인</h3>
        <ul class="social-login">
            <li>
                <a th:href="@{/oauth2/authorization/kakao}" alt="카카오 로그인" class="social-icon">
                    <img src="/images/kakaoLogin.png" height="70" width="70">
                </a>
            </li>
            <li>
                <a th:href="@{/oauth2/authorization/naver}" alt="네이버 로그인" class="social-icon">
                    <img src="/images/naverLogin.png" height="70" width="70">
                </a>
            </li>
            <li>
                <a th:href="@{/oauth2/authorization/google}" alt="구글 로그인" class="social-icon">
                    <img src="/images/googleLogin.png" height="70" width="70">
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
